<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EbDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EbDb;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SmtpHost" value="" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="" />
    <add key="SmtpPass" value="" />
    <add key="SmtpFrom" value="no-reply@jbvnl.local" />
    <add key="RazorpayKey" value="rzp_test_1234567890abcdef" />
    <add key="RazorpaySecret" value="rzp_test_secret_replace_me" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <authentication mode="Forms" />
  </system.web>
</configuration>